* {
  font-family: helvetica,sans-serif;
}
body{
  background-image: url('http://paca.lpo.fr/blogs/ecrins-embrunais/files/2014/01/IMG_7347_2.jpg');
}
.bordure{
border-right: NONE;
padding-right: 75px;
}

.container{
margin-left: 75px;
}

.nom{
margin-top: 30px;
margin-left: 26px;
font-weight: bold;
font-size: 150%;
color: black;
}
.portfolio{
margin-top: -5px;
margin-left: 26px;
font-size:90%;
font-weight: lighter;
color: white;
}

.texte-typo{
margin-top: 45px;
margin-left: 25px;
font-weight: bold;
font-size: 240%;
color: white;
}

.texte-inscription{
margin-top: 18px;
margin-left: 25px;
color: white;
font-weight: lighter;
}

.interligne{
margin-top: -20px;
margin-bottom: 0px;
}

p{
  margin-top:-5px;
  margin-bottom: 0px
}
button{
  background-color: black;
  color: white;
  border:none;
  margin-top: 5px;
  margin-left: 25px;
  width: 74.2%;
  height: 32px;
}

input{
  margin-left: 25px;
  border: 0.5px solid grey;
  width: 74.2%;
  height: 32px;
}

.formulaire{
  margin-top: 10px;
}

.d-block{
margin-top: 90px;
margin-left: 23px;
max-width: 100%;
}

.carousel-item{
  image-orientation: center;
}
.w-100{
  padding-right: 50px;
}

.contact{
  margin-top: 0;
  margin-left: 100px;
  font-weight: lighter;
  font-size: 50%;
  color: white;

}

article{
  margin-top:-20px;

}

.tête{
  margin-right: : -80px;
  margin-top: 15px;
  width: 84%;
  height: 0.5px;
  background-color: #FFFF;
  border: none;
}
.bordure-bas{
  margin-left:26px;
  margin-top: 38px;
  border-bottom:0.5px solid #FFFF;
  width: 110%;
}
