* {
	font-family: helvetica, sans-serif;
}
body {
	background-image: url('http://paca.lpo.fr/blogs/ecrins-embrunais/files/2014/01/IMG_7347_2.jpg');

}
.bordure {
	border-right: NONE;
	padding-right: 75px;
}
.container {
	position: relative;
	margin-left: 75px;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: black;
}
.cercle {
	position: absolute;
	margin-top: 27px;
	margin-left: 25px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}
.nom {
	margin-top: 30px;
	margin-left: 85px;
	font-weight: bold;
	font-size: 150%;
	color: black;
}
.portfolio {
	margin-top: -5px;
	margin-left: 86px;
	font-size: 90%;
	font-weight: lighter;
	color: white;
}
.texte-typo {
	margin-top: 45px;
	margin-left: 25px;
	font-weight: bold;
	font-size: 240%;
	color: white;
}
.texte-inscription {
	margin-top: 18px;
	margin-left: 25px;
	color: white;
	font-weight: lighter;
}
.interligne {
	margin-top: -20px;
	line-height:100%;
}

.interligne2{
	line-height:100%;
}
p {
	margin-top: -5px;
	margin-bottom: 0px
}
button {
	background-color: black;
	color: white;
	border: none;
	margin-top: 5px;
	margin-left: 25px;
	width: 74.2%;
	height: 32px;
}
input {
	margin-left: 25px;
	border: 0.5px solid grey;
	width: 74.2%;
	height: 32px;
}
form{
	width: 300px;
}
.formulaire {
	margin-top: 10px;
}
.d-block {
	margin-top: 90px;
	margin-left: 23px;
	max-width: 100%;
}
.carousel-item {
image-orientation: center
}
.w-100 {
	padding-right: 50px;
}
.contact {
	margin-top: -40px;
	margin-left: 115px;
	font-weight: lighter;
	font-size: 50%;
	color: white;
}
article {
	margin-top: -20px;
}
.head {
	/*margin-right: : -80px;*/
	margin-top: 15px;
	width: 84%;
	height: 0.5px;
	background-color: #FFF;
	border: none;
}
.bordure-bas {
	margin-left: 26px;
	margin-top: 50px;
	border-bottom: 0.5px solid #FFF;
	width: 110%;
}

.message {
 margin-left: 24.5px;
}

.case-mess{
	width:200px;
}
